{% extends "homepage.twig" %}

{% block body %}
<div class="bimage3 d-flex align-items-center">
    <div class="container text-center">
        <h1>Nasze Menu</h1>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="text-center mt-2 tiBG">
                <h3>Przystawki</h3>
            </div>
            {% for dish in menu %}
                {% if dish.dishType == "Przystawka" %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40 mt-4">
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="../uploads/{{ dish.image }}" alt="" class="img-circle" width="100px" height="100px"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title">{{ dish.name }}</h5>
                                            <span class="dish-meta">{{ dish.ingredients }}</span>
                                            <div class="dish-price">
                                                <p>{{ dish.price }}zł</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="text-center mt-2 tiBG">
                <h3>Zupy</h3>
            </div>
            {% for dish in menu %}
                {% if dish.dishType == "Zupa" %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40 mt-4">
                        <div class="menu-block">
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="../uploads/{{ dish.image }}" alt="" class="img-circle" width="100px" height="100px"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title">{{ dish.name }}</h5>
                                            <span class="dish-meta">{{ dish.ingredients }}</span>
                                            <div class="dish-price">
                                                <p>{{ dish.price }}zł</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="text-center mt-2 tiBG">
                <h3>Dania główne</h3>
            </div>
            {% for dish in menu %}
                {% if dish.dishType == "Danie główne" %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40 mt-4">
                        <div class="menu-block">
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="../uploads/{{ dish.image }}" alt="" class="img-circle" width="100px" height="100px"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title">{{ dish.name }}</h5>
                                            <span class="dish-meta">{{ dish.ingredients }}</span>
                                            <div class="dish-price">
                                                <p>{{ dish.price }}zł</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="text-center mt-2 tiBG">
                <h3>Desery</h3>
            </div>
            {% for dish in menu %}
                {% if dish.dishType == "Deser" %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40 mt-4">
                        <div class="menu-block">
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="../uploads/{{ dish.image }}" alt="" class="img-circle" width="100px" height="100px"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title">{{ dish.name }}</h5>
                                            <span class="dish-meta">{{ dish.ingredients }}</span>
                                            <div class="dish-price">
                                                <p>{{ dish.price }}zł</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="text-center mt-2 tiBG">
                <h3>Napoje bezalkoholowe</h3>
            </div>
            {% for dish in menu %}
                {% if dish.dishType == "Napój bezalkoholowy" %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40 mt-4 mb-3">
                        <div class="menu-block">
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="../uploads/{{ dish.image }}" alt="" class="img-circle" width="100px" height="100px"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title">{{ dish.name }}</h5>
                                            <span class="dish-meta">{{ dish.ingredients }}</span>
                                            <div class="dish-price">
                                                <p>{{ dish.price }}zł</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="text-center mt-2 tiBG">
                <h3>Napoje alkoholowe</h3>
            </div>
            {% for dish in menu %}
                {% if dish.dishType == "Napój alkoholowy" %}
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40 mt-4 mb-4">
                        <div class="menu-block">
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="../uploads/{{ dish.image }}" alt="" class="img-circle" width="100px" height="100px"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title">{{ dish.name }}</h5>
                                            <span class="dish-meta">{{ dish.ingredients }}</span>
                                            <div class="dish-price">
                                                <p>{{ dish.price }}zł</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}